[submodule "third_party/third_party"]
	path = third_party/third_party
	url = git@github.com:gcherchi/FastAndRobustMeshArrangements.git
[submodule "third_party/FastAndRobustMeshArrangements"]
	path = third_party/FastAndRobustMeshArrangements
	url = git@github.com:gcherchi/FastAndRobustMeshArrangements.git
